<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sudeste</key>
	<array>
		<dict>
			<key>nome</key>
			<string>São Paulo</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Rio de Janeiro</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Belo Horizonte</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Vitória</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
	</array>
	<key>Centro-Oeste</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Campo Grande</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Cuiabá</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Goiânia</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Brasília</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
	</array>
	<key>Sul</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Curitiba</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Florianópolis</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Porto Alegre</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
	</array>
	<key>Nordeste</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Salvador</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Fortaleza</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Recife</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Maceió</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>São Luís</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Natal</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Aracaju</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>João Pessoa</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Teresina</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>São Luís</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
	</array>
	<key>Norte</key>
	<array>
		<dict>
			<key>nome</key>
			<string>Manaus</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Belém</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Porto Velho</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Palmas</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Macapá</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Boa Vista</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
		<dict>
			<key>nome</key>
			<string>Rio Branco</string>
			<key>latitude</key>
			<real>-22.90278</real>
			<key>longitude</key>
			<real>-43.2075</real>
		</dict>
	</array>
</dict>
</plist>